/* Make code chunks smaller and cleaner */
pre, code {
    font-size: 12px !important;
    background-color: #f9f9f9;
    border-left: 3px solid #e2e2e2;
    padding: 6px;
    border-radius: 4px;
    overflow-x: auto;
  }
  
  /* Optional: shrink spacing above/below code chunks */
  pre {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  
  #TOC {
    background-color: #fafafa;
    border-left: 4px solid #b566ff;
    padding: 10px;
    font-size: 13px;
  }


  
  h1 {
    border-bottom: 2px solid #8f00ff;
    padding-bottom: 4px;
    color: #3e008e;
  }
  
  h2 {
    color: #7d3c98;
    font-weight: bold;
    margin-top: 30px;
  }

  pre {
    background-color: #fefefe;
    border-left: 3px solid #cba3e8;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
    padding: 8px;
    font-size: 13px;
    transition: background 0.3s;
  }
  
  pre:hover {
    background-color: #f8f5ff;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
  }
  
  .my-kable {
    font-family: 'Georgia', serif;
    font-size: 14px;
    color: #333;
    border: 1px solid #ccc;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .my-kable th {
    background-color: #f4e8ff;
    color: #5a2a83;
    padding: 10px;
    text-align: center;
  }
  
  .my-kable td {
    padding: 8px;
    text-align: center;
    border-top: 1px solid #ddd;
  }
  
  h1, h2, h3 {
    font-family: 'Georgia', serif;
    letter-spacing: 0.5px;
  }
  
  h3 {
    color: #8e44ad;
    margin-top: 25px;
    font-weight: bold;
  }
  
  .section.level2, .section.level3 {
    background-color: #f5f0fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.05);
    margin-bottom: 20px;
  }
  
  table tr:hover {
    background-color: #f8f1ff;
  }
  
  #TOC li > a:hover,
#TOC li > a:focus {
  color: #9b59b6;
  font-weight: bold;
}


body {
    animation: fadeIn 1.2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
body {
    background: linear-gradient(to bottom, #ffffff, #ffffff, #f0e2fc);
    background-attachment: fixed;

}

